<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="header">
      <div class="top-nav">
        <ul>
          <li><a href="/users/login">LOG IN</a></li>
          <li><a href="/users/register">REGISTER</a></li>
        </ul>
        <button>CONTACT US</button>
      </div>
      <div class="side-nav">
        <div class="wrapper ten">
          <div>
            <h3 class="bounce">
              <span>R</span>
              <span>o</span>
              <span>S</span>
              <span>h</span>
          </div>
        </div>
        <a href="">TEAM TOUR</a>
      </div>
    </div>
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
  </body>
</html>